@import "tailwindcss";

@theme {
  --color-gray-50: #0F0F0F;
  --color-gray-300: #737373;
  --color-gray-400: #b8b8b8;
  --color-gray-500: #252525;
  --color-gray-600: #1e1e1e;
  --color-gray-700: #1b1b1b;
  --color-gray-800: #161616;
  --color-gray-900: #121212;

  --color-green-300: #7ada46;
  --color-green-400: #52be62;

  --font-poppins: Poppins, sans-serif;
  --font-inter: Inter, sans-serif;

  --text-xs: 16px;
  --text-sm: 20px;
  --text-lg: 24px;
  --text-xl: 32px;
  --text-2xl: 48px;
  --text-3xl: 64px;
}
